$main-font: "Fira Code", Roboto, Arial, monospace, sans-serif;
$site-width: 1280px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;
$bg-color: #07081e;
$bg-color-light: lighten($bg-color, 40%);
$bg-color-dark: darken($bg-color, 40%);
$font-color: #e8e8eb;
$main-color: #ab343f;
$secondary-color: #3b3a4d;
